.box {
    border-radius: 6px;
    width: 80px;
    height: 40px;
    margin: 50px auto;
}

.box-uno {
    background-color: lightgreen;
}

.box-dos {
    background-color: lightcoral;
    /* tiene dos valosres
    transition-property:
    transition-duration: ;*/
    transition: all 2s;
}

.box:hover {
    transform: scale(4);
}

.container-circulos div {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}


/*Curva de velocidad*/
.circulos1 {
    background-color: lightblue;
    transition: all 1.5s linear;
}

.circulos2 {
    background-color: lightpink;
    transition: all 1.5s ease-in;
}

.circulos3 {
    background-color: lightseagreen;
    transition: all 1.5s ease-in-out;
}

.circulos4 {
    background-color: lime;
    transition: all 1.5s ease-out;
}

.circulos5 {
    background-color: lightslategrey;
    transition: all 1.5s ease;
}

.container-circulos:hover .circulos1,
.container-circulos:hover .circulos2,
.container-circulos:hover .circulos3,
.container-circulos:hover .circulos4,
.container-circulos:hover .circulos5 {
    transform: translateX(200px);
}

.square-uno, .square-dos {
    border-radius: 4px;
    height: 150px;
    width: 150px;
    margin: 100px;
    position: absolute;
}

.square-uno {
    background-color: teal;
}

.square-dos {
    background-color: steelblue;
    transition: all .8s;
}

.square-dos:hover {
    transform: translate(40px, 40px);
    opacity: 0.5;
}

.combinado {
    background-color: violet;
    height: 75px;
    width: 75px;
    margin: 50px auto;
    transition: all 2s;
}

.combinado:hover {
    transform: rotate(90deg) scale(2);

    /*prefijos*/
    /*Chrome & Edge*/
    -webkit-transform: rotate(90deg) scale(2);
    /*opera*/
    -o-transform: rotate(90deg) scale(2);
    /*Mozilla*/
    -moz-transform: rotate(90deg) scale(2);
}

.animaciones {
    width: 120px;
    height: 120px;
    margin: 50px;
    background-color: yellow;
}

.animaciones:hover {
    /*animation-name
    animation-duration*/

    animation: changeColor 4s infinite;
}

@keyframes changeColor {
    0% {
        background-color: violet;
    }

    15% {
        background-color: tomato;
        border-radius: 80px;
    }
    
    25% {
        width: 80px;
    }

    50% {
        border: 8px solid black;
    }

    100% {
        background-color: teal;
    }

}










